- content_for :title do
  - @title = "#{ @hall.name(@is_ja) } (#{t ".title" })"

%table
  %tr
    - t_ars(Hall, %w[number date concert]).each do |k|
      %th= k
  - @concert_halls.each_with_index do |ch, i|
    %tr
      - concert = ch.concert
      %td= i+1
      %td= year_link ch.event_date
      %td= normal_link object: concert

- content_for :navi do
  = normal_link object: @prefecture
  - @halls.each do |hall|
    = button_link object: hall, flag: @hall == hall
