- arel = array.include_band.order_band_yomi
- band_member_hash = hash_array_from_array(arel) { |bm| [ bm.band_id, bm ] }
- band_ids = band_member_hash.keys
- band_hash = Hash[band_ids.zip(Band.ids_are(band_ids).include_title)]

%table
  %thead
    %tr
      - t_ars(Person, %w[number band concert]).each do |k|
        %th= k
  %tbody
    - band_ids.each_with_index do |k, i|
      - band_members = band_member_hash[k]
      - band = band_hash[k]
      %tr
        %td= i+1
        %td= normal_link object: band
        %td
          - band.concerts.each do |c|
            = normal_link object: c
            = normal_link_objects band_members.map(&:instrumental)
            %br
