%table
  %thead
    %tr
      - t_ars(Person, %w[number book date]).each do |k|
        %th=k
  %tbody
    - array.each_with_index do |book, i|
      %tr
        %td= i+1
        %td= normal_link object: book
        %td= year_link book.event_date


