- arel = array.include_list.include_person.include_instrumental.order_device_date_id.order_instrumental_sort_order
- song_people_hash = hash_array_from_array(arel) { |sp| [ sp.list_content.list.device_id, sp ] }
- device_ids = song_people_hash.keys
- devices = Device.ids_are(device_ids).include_title.include_event_date
%table
  %thead
    %tr
      - t_ars(Person, %w[number device date performance]).each do |k|
        %th= k
  %tbody
    - devices.each_with_index do |device, i|
      - song_people = song_people_hash[device.id]
      %tr
        %td= i+1
        %td= normal_link object: device
        %td= year_link device.event_date
        %td= normal_link_objects song_people.map(&:instrumental).uniq

