%table
  %thead
    %tr
      - t_ars(Person, %w[number song date]).each do |k|
        %th=k
  %tbody
    - array.include_song_with_event_date.each_with_index do |slm, i|
      %tr
        - song = slm.song
        %td= i+1
        %td= normal_link object: song
        %td= year_link song.event_date

