- content_for :title do
  - @title = "#{t '.title'} (#{@subtitle})"

%table
  %thead
    %tr
      - t_ars(Person, %w[person num_of_albums num_of_singles num_of_lyrics num_of_musics num_of_performances num_of_bands num_of_books]).each do |k|
        %th= k
  %tbody
    - @people.each do |person|
      - pid = person.id
      %tr
        %td= normal_link object: person
        %td= zero_null @num_of_albums[pid]
        %td= zero_null @num_of_singles[pid]
        %td= zero_null @num_of_lyrics[pid]
        %td= zero_null @num_of_musics[pid]
        %td= zero_null @num_of_song_people[pid]
        %td= zero_null @num_of_bands[pid]
        %td= zero_null @num_of_books[pid]

- content_for :navi do
  = render partial: 'head_links'
