- content_for :title do
  - @title = "#{@person.name(@is_ja)} (#{t ".title"})"
  - @list_link = -> { normal_link_by_title object: Person, division: @person.head1 }
- all = @person.all_objects
- if all.count > 1
  %h4
    = "#{t 'common.aliases'}: "
    = @person.names(@is_ja)

.navigation
  - @hash.each do |division, count|
    = button_link title: "#{t_ar(Person, division)}(#{count})", object: @person, division: division, flag: @division == division
- %w[lyrics musics].each do |division|
  - if @division == division && @array
    = render partial: 'lyric_music', locals: {array: @array}
- %w[albums singles videos].each do |division|
  - if @division == division && @array
    = render partial: 'device', locals: {array: @array}
- %w[bands].each do |division|
  - if @division == division && @array
    = render partial: 'band', locals: {array: @array}
- %w[photographer_books author_books].each do |division|
  - if @division == division && @array
    = render partial: 'book', locals: {array: @array}

- content_for :navi do
  .navigation
    = normal_link_by_title object: Person, division: @person.head1, add_title: @subtitle
    - @people.each do |person|
      = button_link object: person, division: @division, flag: person == @person
  = render partial: 'head_links'

