%table
  %tbody
    %tr
      %th= t_ar Device, :name
      %td= device.name(@is_ja)
    %tr
      %th= t_ar Device, :type
      %td
        - if @singer
          = normal_link object: @singer
        = device.number
        = (t_ars device.class, device.device_type_strs).join(', ')
    %tr
      %th= t_ar Device, :release_date
      %td= year_link device.event_date
    - if @whole_time
      %tr
        %th= t_ar Device, :whole_time
        %td= @whole_time
    - @recorded_at ||= {}
    - unless @recorded_at.keys.empty?
      %tr
        %th= t_ar Video, :recorded_at
        %td
          - @recorded_at.keys.each do |ch|
            = year_link ch.event_date
            = normal_link object: ch.hall
    - unless device.device_activities.empty?
      %tr
        %th= t_ar Device, :tieup
        %td
          - device.device_activities.each do |da|
            - a = da.activity
            = normal_link object: a
            - songs = [a.song]
            - device_songs = device.list_contents.include_song.map(&:song).uniq
            - songs += a.activity_subs.include_song.map(&:song).select { |s| device_songs.include?(s) }.uniq
            - songs.compact!
            - if songs.count > 0
              (
              - songs.each_with_index do |s, i|
                = ", " unless i == 0
                = normal_link object: s
              )
            %br
    - comment = device.comment(@is_ja)
    - link = device.link
    - if comment || link
      %tr
        %th= t_ar(Device, :comment)
        %td
          - if comment
            - comment.split('|').each do |line|
              = line
              %br
          = external_or_str link
