%table
  %thead
    %tr
      - divisions = %i[number title lyric music arrangement remarks]
      - t_ars(ListContent, divisions).each do |k|
        %th= k
  %tbody
    - list.list_contents.include_song.order_sort_order.each do |lc|
      %tr
        - song = lc.song
        %td= lc.sort_order
        %td
          - if song
            = normal_link object: song, division: @device_class.to_s.underscore, add_version: lc.version(@is_ja)
          - else
            = lc.title(@is_ja)
            = lc.version(@is_ja)
        %td= normal_link_objects song.lyric_people, division: :lyrics if song
        %td= normal_link_objects song.music_people, division: :musics if song
        %td= normal_link_objects lc.get_arranges, division: @device_class.to_s.underscore.pluralize
        %td
          - if comment = lc.comment(@is_ja)
            - comment.split('|').each do |line|
              = line
              %br
          - if song
            - as = song.activities
            - if as.count > 0
              - as.each do |a|
                = normal_link object: a, add_version: a.comment(@is_ja)
                %br
            - ass = song.activity_subs
            - if ass.count > 0
              - ass.each do |as|
                = normal_link object: as.activity, title: as.name(@is_ja)
                %br
          - if @device_class == Video
            - lc.video_to_concert_videos.include_concert_list_content.each do |vcv|
              - set_list = vcv.concert_list_content.list
              - concert = set_list.concert
              - hall = vcv.concert_hall.hall
              = t_ar Concert, :recorded_at
              = normal_link object: hall
              (
              = normal_link object: concert, division: "set_list-#{set_list.keyword}"
              )
              %br
