.navigation
  - @device_class.num2str.each do |division, value|
    - num = @device_class.device_type_value_has(division).count
    - @device_types = @device ? @device.device_types : [@device_type]
    = button_link object: @device_class, division: division, title: t_ar(@device_class, value), add_title: num, flag: @device_types.include?(division)
