- @device.device_types.each do |device_type|
  .navigation
    = normal_link_by_title object: @device_class, division: device_type, add_title: t_ar(@device_class, @device_class.num2str[device_type])
    - @device_class.device_type_value_has(device_type).include_title.order_sort_order_desc.each do |device|
      = button_link object: device, division: @division, flag: device == @device

