- content_for :title do
  - @title = "#{t "#{@device_class.to_s.underscore.pluralize}.index.title"}[#{t_ar(@device_class, @n2s[@device_type])}]"

%table
  %thead
    %tr
      - t_ars(Device, %w[number name type release_date remarks]).each do |k|
        %th= k
  %tbody
    - @devices.each_with_index do |device, i|
      - singer = device.singer
      %tr
        %td= i+1
        %td= normal_link object: device
        %td
          = normal_link object: singer if singer
          = device.number
          = t_ar @device_class, @n2s[@device_type]
        %td= year_link device.event_date
        %td
          - if comment = device.comment(@is_ja)
            - comment.split('|').each do |line|
              = line
              %br


- content_for :navi do
  .navigation
    = render partial: '/devices/device_type_links'
