%table
  %thead
    %tr
      - t_ars(Medium, %i( number company device code price )).each do |k|
        %th= k
  %tbody
    - @media.include_company.each do |m|
      %tr
        %td= m.sort_order
        %td= normal_link object: m.company
        %td
          = t_ar Medium, m.medium_device
        %td= external_or_str(m.code)
        %td
          = m.price_str(@is_ja)
          - unless m.now_sale
            = t_ar Medium, :stop_printing

