- slss = list.list_contents.order_sort_order
%table
  %thead
    %tr
      - t_ars(SongPerson, %i[performer instrumental]).each do |k|
        %th= t k
      - slss.each do |sls|
        %th= sls.sort_order

  %tbody
    - list.person_instrumental_hash.each do |artist, hash|
      - first = true
      - hash.each do |instrumental, sos|
        %tr
          - if first
            %td{rowspan:hash.keys.count}= normal_link object: artist, division: @device_class.to_s.underscore.pluralize
            - first = false
          %td= normal_link object: instrumental
          - slss.each do |sls|
            - so = sls.sort_order
            %td= '○' if sos.index(so)
