- content_for :title do
  - @title = "#{ @device.name(@is_ja) } [#{(t_ars @device.class, @device.device_type_strs).join(', ')}]"

.navigation
  - divisions = %w( base_information )
  - divisions << 'media' if @media.count > 0
  - divisions.each do |division|
    = button_link object: @device, division: division, title: t_ar(Device, division), flag: @division == division
  - @lists.each do |list|
    - keyword = list.keyword
    - lkeyword = t_ar Medium, keyword
    - division = "contents-#{keyword}"
    = button_link object: @device, division: division, title: t_ar(Device, :contents), add_title: lkeyword, flag: @division == division
    - division = "performer-#{ keyword }"
    = button_link object: @device, division: division, title: t_ar(Device, :performer), add_title: lkeyword, flag: @division == division

- if @division == 'base_information'
  = render partial: '/devices/base_information', locals: { device: @device }
- if @division == 'media' && @media.count > 0
  = render partial: '/devices/media'
- @lists.each do |list|
  - if @division == "contents-#{list.keyword}"
    = render partial: '/devices/contents', locals: { list: list }
  - if @division == "performer-#{list.keyword}"
    = render partial: '/devices/performer', locals: { list: list }

- content_for :navi do
  = render partial: '/devices/device_types_links'
  = render partial: '/devices/device_type_links'
