.navigation
  = t 'common.links_for_lists'
  - @links = get_links
  - ctl = request.params[:controller].classify
  - @links.each do |array|
    - paths, klass = array
    - paths.each do |path|
      = button_link controller_path: path, flag: klass.to_s == ctl
  = button_link controller_path: stats_path
.navigation
  .float-left
    = link_to t('common.about'), home_about_path
  .float-right
    &copy;1994-2019 hkob.
