- content_for :title do
  - @title = t ".title"

%dl
  %dt= t '.name'
  %dd
    hkob:
    = t '.me'
    = external_or_str 'https://www.facebook.com/hkobhkob'
  %dt= t '.affiliation'
  %dd
    = t '.metro_cit'
    = external_or_str 'http://www.metro-cit.ac.jp/'
  %dt= t '.labo_url'
  %dd
    = t '.hkob_labo'
    = external_or_str 'http://www2.metro-cit.ac.jp/~hkob/'
  %dt= t '.redmine'
  %dd= external_or_str 'https://moritaka-ml.com/'
  %dt= t '.repository'
  %dd= external_or_str 'http://bitbucket.org/hkob/moritaka-ml'


