- content_for :title do
  - @title = t ".title"

%ul
  %li= t '.message'
  %li
    = t '.message2'
    = external_or_str 'https://redmine.moritaka-ml.com'

%h2= t '.what_day_is_today'
- if @hash.count == 0
  %p= t '.nothing_special'
- else
  %table
    %thead
      %tr
        - t_ars(Year, %w[date events]).each do |k|
          %th= k
    %tbody
      - @hash.each do |date, objs|
        %tr
          %td= year_link(date)
          %td
            - objs.each do |obj|
              - if obj.class == ConcertHall
                = obj.event_title
                - concert = obj.concert
                - hall = obj.hall
                = normal_link object: concert
                (
                = normal_link object: hall
                )
              - elsif obj.class == Activity
                - if obj.from == date
                  = obj.from_event_title
                - else
                  = obj.to_event_title
                = normal_link object: obj
              - elsif obj.class == ActivitySub
                - if obj.from == date
                  = obj.from_event_title
                - else
                  = obj.to_event_title
                = normal_link object: obj.activity
              - else
                = obj.event_title
                = normal_link object: obj
              %br

%h2= t 'common.menu'
%table
  %tr
    %thead
      %tr
        %th= t 'common.links_for_lists'
        %th= t '.num_of_data'
    %tbody
      - @links.each do |array|
        - paths, klasses = array
        %tr
          %td
            - paths.each_with_index do |path, i|
              = ',' unless i == 0
              %span<>
                = normal_link_by_title controller_path: path
          %td
            - Array(klasses).each_with_index do |klass, i|
              = ", " unless i == 0
              = klass.count
              = "(#{t_ar klass})"
      %tr
        %td= normal_link controller_path: stats_path
        %td


