- has_tieup = @activities.count + @activity_subs.count > 0
%table
  %thead
    %tr
      - t_ars(Song, %w[name lyric music first_appearance]).each do |k|
        %th= k
      - if has_tieup
        %th= t_ar Song, :tieup
  %tbody
    %td
      = @song.names(@is_ja)
    %td
      - @song.lyric_people.each do |p|
        = normal_link object: p
    %td
      - @song.music_people.each do |p|
        = normal_link object: p
    %td= year_link @song.event_date
    - if has_tieup
      %td
        - if @activities.count > 0
          - @activities.each do |a|
            = t_ar Activity, a.activity_type
            = normal_link object: a
        - if @activity_subs.count > 0
          - @activity_subs.each do |as|
            - a = as.activity
            = t_ar Activity, a.activity_type
            = normal_link object: a

- @youtubes = @song.youtubes
- if @youtubes.count > 0
  %h2= t_ar Youtube
  %table
    %thead
      %tr
        - t_ars(Youtube, %w[number name type release_date]).each do |k|
          %th= k
    %tbody
      - @youtubes.each_with_index do |youtube, i|
        %tr
          %td= youtube.number
          %td= normal_link object: youtube
          - yt = youtube.youtube_type
          %td= normal_link object: Youtube, title: t_ar(Youtube, yt), division: yt
          %td= year_link(youtube.event_date)

