%table
  %thead
    %tr
      - t_ars(ListContent, %i[number concert set_list date title]).each do |k|
        %th= k
  %tbody
    - array.each_with_index do |sls, i|
      %tr
        %td= i+1
        - list = sls.list
        %td
          - concert = list.concert
          = normal_link object: concert, title: concert.name(@is_ja)
        %td
          - sl = list.keyword
          = normal_link object: concert, title: "#{ t_ar Concert, :set_list }#{ sl }", division: "set_list-#{sl}"
        %td
          - chs = list.concert_halls.order_date
          = year_link chs.first.event_date
          - if chs.count > 1
            = " - "
            = year_link chs.last.event_date
        %td
          = sls.song.name(@is_ja)
          = sls.version(@is_ja)
