%table
  %thead
    %tr
      - t_ars(ListContent, %i[number device date title arrangement performer]).each do |k|
        %th= k
  %tbody
    - array.each_with_index do |lc, i|
      %tr
        %td= i+1
        %td
          - device = lc.list.device
          = normal_link object: device
        %td
          - if event_date = device.event_date
            = year_link event_date
        %td
          = lc.song.name(@is_ja)
          = lc.version(@is_ja)
        %td= normal_link_objects lc.get_arranges
        %td
          - lc.song_people.include_person.include_instrumental.except_arrange.order_instrumental_sort_order.each do |sp|
            = sp.instrumental.name(@is_ja)
            - p = sp.person
            = normal_link object: p
            %br
