.navigation
  - @heads.each do |array|
    - first = array.first
    - last = array.last
    - head = @lhead_hash[first][0,1]
    - num = Song.head_value_is(head).count
    = button_link title: "#{first} - #{last}", add_title: num, object: Song, division: head, flag: head == @head
