%table
  %thead
    %tr
      - t_ars(ListContent, %i[number book publisher date title]).each do |k|
        %th= k
  %tbody
    - array.each_with_index do |lc, i|
      %tr
        %td= i+1
        %td
          - book = lc.list.book
          = normal_link object: book
        %td
          - if publisher = book.publisher
            = normal_link object: publisher
        %td
          - if event_date = book.event_date
            = year_link event_date
        %td
          = lc.song.name(@is_ja)
          = lc.version(@is_ja)
