%table
  %thead
    %tr
      - t_ars(ListContent, %i[number tv_program date title]).each do |k|
        %th= k
  %tbody
    - array.each_with_index do |lc, i|
      %tr
        %td= i+1
        %td
          - activity_sub = lc.list.activity_sub
          = normal_link object: activity_sub.activity
        %td
          - if event_date = activity_sub.from
            = year_link event_date
        %td
          = lc.song.name(@is_ja)
          = lc.version(@is_ja)

