.navigation
  - @year_hash = Song.joins(:event_date).merge(EventDate.group(EventDate.arel_table[:year_id])).count
  - Year.ids_are(@year_hash.keys).order_year.each do |year|
    = button_link title: year.name(@is_ja), add_title: @year_hash[year.id], controller_path: list_by_date_songs_path(year_key: year.year), flag: year == @year

