- content_for :title do
  - @title = "#{ t ".title" } (#{ @year.name(@is_ja) })"

%table
  %thead
    %tr
      - t_ars(Song, %w[name lyric music num_of_albums num_of_singles num_of_videos num_of_concerts num_of_scores num_of_tv_programs]).each do |k|
        %th= k
  %tbody
    - @songs.each do |song|
      - sid = song.id
      %tr
        %td= normal_link object: song
        %td= normal_link_objects @lyrics[sid].map(&:person), division: :lyrics if @lyrics[sid]
        %td= normal_link_objects @musics[sid].map(&:person), division: :musics if @musics[sid]
        %td= @num_of_albums[sid]
        %td= @num_of_singles[sid]
        %td= @num_of_videos[sid]
        %td= @num_of_concerts[sid]
        %td= @num_of_scores[sid]
        %td= @num_of_tv_programs[sid]
- content_for :navi do
  = render partial: 'year_links'
