- content_for :title do
  - @title = "#{@song.name(@is_ja)} (#{t ".title"})"
  - @list_link = -> {normal_link_by_title object: Song, division: @song.head1}
- all = @song.all_objects
- if all.count > 1
  %h4
    = "#{t 'common.aliases'}: "
    = @song.names(@is_ja)

.navigation
  - division = 'base_information'
  = button_link title: t_ar(Song, division), object: @song, division: division, flag: @division == division
  - @devices.each do |(division, array)|
    -if array.count > 0
      = button_link title: "#{t_ar(Song, division)}(#{array.count})", object: @song, division: division, flag: @division == division
  - if @concerts.count > 0
    - division = 'concert'
    = button_link title: "#{t_ar(Song, division)}(#{@concerts.count})", object: @song, division: division, flag: @division == division
  - if @scores.count > 0
    - division = 'score'
    = button_link title: "#{t_ar(Song, division)}(#{@scores.count})", object: @song, division: division, flag: @division == division
  - if @tv_programs.count > 0
    - division = 'tv_program'
    = button_link title: "#{t_ar(Song, division)}(#{@tv_programs.count})", object: @song, division: division, flag: @division == division

- if @division == 'base_information'
  = render partial: 'base_information'
- @devices.each do |(division, array)|
  - if array.count > 0
    - if @division == division
      = render partial: 'device', locals: {array: array}
- if @concerts.count > 0
  - if @division == 'concert'
    = render partial: 'concert', locals: {array: @concerts}
- if @scores.count > 0
  - if @division == 'score'
    = render partial: 'score', locals: {array: @scores}
- if @tv_programs.count > 0
  - if @division == 'tv_program'
    = render partial: 'tv_program', locals: {array: @tv_programs}

- content_for :navi do
  .navigation
    = normal_link_by_title object: Song, division: @song.head1, add_title: @song.head1_str(@is_ja)
    - Song.head_value_is(@song.head1).include_title.order_yomi.each do |song|
      = button_link object: song, division: @division, flag: song == @song
  = render partial: 'head_links'
  .navigation
    - y = @song.event_date.year
    = normal_link_by_title controller_path: list_by_date_songs_path(year_id: y.id), add_title: y.name(@is_ja)
    - Song.year_is(y).include_title.order_date.each do |song|
      = button_link object: song, division: @division, flag: song == @song
  = render partial: 'year_links'
