%table
  %tr
    - t_ars(ConcertHall, %w[number performance_date concert_hall prefecture set_list]).each do |k|
      %th= k
    - if @concert.has_product
      %th= t_ar ConcertHall, :product
    %th= t_ar ConcertHall, :remarks
  - @concert_halls.include_hall.include_list.include_event_date.order_sort_order.each_with_index do |ch, i|
    %tr
      %td= i + 1
      %td= year_link(ch.event_date)
      - hall = ch.hall
      %td
        = normal_link object: hall
        - if chsub = ch.hall_sub(@is_ja)
          = "[#{chsub}]"
      - prefecture = hall.prefecture
      %td= normal_link object: prefecture
      - list = ch.list
      %td
        - if list
          - keyword = list.keyword
          - lkeyword = t_ar Medium, keyword
          - division = "set_list-#{keyword}"
          = normal_link title: t_ar(Concert, :set_list), add_title: lkeyword, object: @concert, division: division
      - if @concert.has_product
        %td= ch.product(@is_ja)
      %td
        - if comment = ch.comment(@is_ja)
          - comment.split('|').each do |line|
            = line
            %br

