.navigation
  - @concert_type_count = Concert.group(:concert_type).count(:id)
  - Concert.concert_types.each do |division, value|
    = button_link title: t_ar(Concert, division), add_title: (@concert_type_count[division] || 0), object: Concert, division: division, flag: division == @concert_type
