%table
  %thead
    %tr
      - t_ars(ListContent, %i( number title lyric music arrangement remarks )).each do |k|
        %th= k
  %tbody
    - sn = 0
    - ssn = -1
    - list.list_contents.include_song.order_sort_order.each do |lc|
      - case lc.j_title
      - when 'MEDLEY_IN'
        - ssn = 0
        - sn += 1
        %tr
          %td= sn
          %td= (lc.version(@is_ja) || t('Concert.medley_in'))
          %td
          %td
          %td
          %td
      - when 'MEDLEY_OUT'
        - ssn = -1
      - else
        %tr
          - song = lc.song
          %td
            - if song
              - if ssn == -1
                - sn += 1
                = sn
              - else
                - ssn += 1
                = "#{sn}-#{ssn}"
          %td
            - if song
              = normal_link object: song, division: :concert, add_version: lc.version(@is_ja)
            - else
              = lc.title(@is_ja)
              = lc.version(@is_ja)
          %td= normal_link_objects song.lyric_people, division: :lyrics if song
          %td= normal_link_objects song.music_people, division: :musics if song
          %td= normal_link_objects lc.get_arranges
          %td
            - if comment = lc.comment(@is_ja)
              - comment.split('|').each do |line|
                = line
                %br
            - lc.concert_to_concert_videos.include_video_list_content.each do |ccv|
              - vlist = ccv.video_list_content.list
              - video = vlist.video
              = t_ar Concert, :contained_in
              = normal_link object: video, division: "contents-#{vlist.keyword}"
              %br
%h2= t_ar ConcertHall, :halls
%ol
  - list.concert_halls.include_hall.order_date.each do |ch|
    %li
      = normal_link object: ch.hall
      = ':'
      = year_link ch.event_date
