- content_for :title do
  - @title = "#{ t ".title"} (#{ t_ar Concert, @concert_type })"

%table
  %thead
    %tr
      - t_ars(Concert, %w[number name type performance_date num_of_concerts_halls band remarks]).each do |k|
        %th= k
  %tbody
    - @concerts.each_with_index do |concert, i|
      %tr
        %td= i+1
        %td= normal_link object: concert
        %td= t_ar Concert, @concert_type
        %td
          = year_link(concert.from)
          - if concert.to
            = " - "
            = year_link(concert.to)
        %td= concert.num_of_concerts
        - band = concert.band
        %td= normal_link object: band if band
        %td
          - if comment = concert.comment(@is_ja)
            - comment.split('|').each do |line|
              = line
              %br

- content_for :navi do
  = render partial: 'concert_type_links'
