- content_for :title do
  - @title = "#{ @concert.name(@is_ja) } (#{t ".title" })"

.navigation
  - %w[base_information concert_halls].each do |division|
    = button_link title: t_ar(Concert, division), object: @concert, division: division, flag: @division == division
  - @lists.each do |list|
    - keyword = list.keyword
    - lkeyword = t_ar Medium, keyword
    - division = "set_list-#{ keyword }"
    - snum = list.concert_halls.count
    = button_link title: "#{t_ar Concert, :set_list}#{lkeyword}", add_title: "#{snum}#{t_ar ConcertHall, (snum == 1 ? :hall : :halls)}", object: @concert, division: division, flag: @division == division

- if @division == 'base_information'
  = render partial: 'base_information'
- if @division == 'concert_halls'
  = render partial: 'concert_halls'
- @lists.each do |list|
  - division = "set_list-#{list.keyword}"
  - if @division == division
    = render partial: 'set_list', locals: { list: list }

- content_for :navi do
  .navigation
    = normal_link_by_title object: Concert, division: @concert.concert_type, add_title: t_ar(Concert, @concert.concert_type)
    - @concerts.each do |concert|
      = button_link object: concert, division: @division, flag: @concert == concert
  = render partial: 'concert_type_links'
