.navigation
  - Book.book_types.keys.each do |division|
    - num = Book.book_type_str_is(division).count
    = button_link title: t_ar(Book, division), add_title: num, object: Book, division: division, flag: division == @book_type

