- content_for :title do
  - @title = t ".title"

%table
  %thead
    %tr
      - t_ars(Book, %w( number name type publisher seller release_date )).each do |k|
        %th= k
  %tbody
    - @books.each_with_index do |book, i|
      %tr
        %td= i+1
        %td= normal_link object: book
        %td= t_ar Book, book.book_type
        %td
          - if publisher = book.publisher
            = normal_link object: publisher
        %td
          - if seller = book.seller
            = normal_link object: seller
        %td= year_link book.event_date

- content_for :navi do
  = render partial: 'book_type_links'
