- content_for :title do
  - @title = "#{ @book.name(@is_ja) } (#{t ".title" })"

%table
  %thead
    %tr
      - t_ars(Book, %i[items contents]).each do |k|
        %th= k
  %tbody
    %tr
      %th= t_ar Book, :name
      %td= @book.name(@is_ja)
    %tr
      %th= t_ar Book, :type
      %td= t_ar Book, @book.book_type
    - if publisher = @book.publisher
      %tr
        %th= t_ar Book, :publisher
        %td= normal_link object: publisher
    - if seller = @book.seller
      %tr
        %th= t_ar Book, :seller
        %td= normal_link object: seller
    %tr
      %th= t_ar Book, :release_date
      %td= year_link @book.event_date
    - if author = @book.author
      %tr
        %th= t_ar Book, :author
        %td= normal_link object: author

    - if photographer = @book.photographer
      %tr
        %th= t_ar Book, :photographer
        %td= normal_link object: photographer
    - if @list
      %tr
        %th= t_ar Book, :contents
        %td
          - @list.list_contents.include_song.order_sort_order.each do |lc|
            - song = lc.song
            - if song
              = normal_link object: song, add_version: lc.version(@is_ja)
            - else
              = lc.title(@is_ja)
              = lc.version(@is_ja)
            %br
    - comment = @book.comment(@is_ja)
    - link = @book.link
    - if comment || link
      %tr
        %th= t_ar Book, :comment
        %td
          = comment
          = external_or_str link

- content_for :navi do
  .navigation
    = normal_link_by_title object: Book, division: @book.book_type, add_title: t_ar(Book, @book.book_type)
    - @books.each do |book|
      = button_link object: book, division: @division, flag: @book == book
  = render partial: 'book_type_links'
