.navigation
  - Youtube.youtube_types.each do |division, value|
    - num = Youtube.youtube_type_value_is(division).count
    = button_link object: Youtube, division: division, title: t_ar(Youtube, division), add_title: num, flag: division == @youtube_type

