- content_for :title do
  - @title = "#{ t ".title"} (#{ t_ar Youtube, @youtube_type })"

%table
  %thead
    %tr
      - t_ars(Youtube, %w[number name type release_date]).each do |k|
        %th= k
  %tbody
    - @youtubes.each_with_index do |youtube, i|
      %tr
        %td= youtube.number
        %td= normal_link object: youtube
        %td= t_ar Youtube, @youtube_type
        %td= year_link(youtube.event_date)

- content_for :navi do
  = render partial: 'youtube_type_links'

