- content_for :title do
  - @title = "#{ @youtube.name(@is_ja) } (#{t ".title" })"

%iframe{width: "560", height: "315", src: "https://www.youtube.com/embed/#{@youtube.link}?rel=0", frameborder: "0", allowfullscreen: true}
%table
  %thead
    %tr
      - t_ars(Youtube, %i[song type number release_date link]).each do |w|
        %th=w
  %tbody
    %tr
      %td
        - if song = @youtube.song
          = normal_link object: song
      %td= t_ar Youtube, @youtube.youtube_type
      %td= @youtube.number
      %td= year_link(@youtube.event_date)
      %td= external_or_str "https://www.youtube.com/watch?v=#{@youtube.link}"

%h2= t_ar Youtube, :original_comment
- @youtube.comment.split("\n").each do |line|
  = line
  %br

- content_for :navi do
  .navigation
    = normal_link_by_title object: Youtube, division: @youtube.youtube_type, add_title: t_ar(Youtube, @youtube.youtube_type)
    - @youtubes.each do |youtube|
      = button_link object: youtube, division: @division, flag: @youtube == youtube
  = render partial: 'youtube_type_links'

