%table
  %tr
    - t_ars(Activity, %w[number name type]).each do |k|
      %th= k
  - array.include_title.order_sort_order.each_with_index do |activity, i|
    %tr
      %td= i+1
      %td= normal_link object: activity
      %td= t_ar Activity, activity.activity_type




