%table
  %tr
    - t_ars(Book, %w[number name type code date]).each do |k|
      %th= k
  - array.each do |books|
    - books.include_title.include_event_date.each_with_index do |book, i|
      %tr
        %td= i+1
        %td
          = normal_link object: book
        %td= t_ar Book, book.book_type
        %td= book.isbn
        %td= year_link book.event_date

