%table
  %tr
    - t_ars(Device, %w[number name type code date]).each do |k|
      %th= k
  - array.include_device_with_event_date.each_with_index do |m, i|
    %tr
      %td= i+1
      - device = m.device
      %td
        = t_ars_join device.class, device.device_type_strs
        = normal_link object: device
      %td= t_ar Medium, m.medium_device
      %td= external_or_str m.code
      %td= year_link device.event_date

