- content_for :title do
  - @title = t ".title"

%table
  %thead
    %tr
      - t_ars(Company, %w[number name num_of_media num_of_books num_of_activities]).each do |k|
        %th= k
  %tbody
    - @companies.each_with_index do |company, i|
      - cid = company.id
      %tr
        %td= i+1
        %td= normal_link object: company
        %td= @num_of_media[cid]
        %td= zero_null (@num_of_published_books[cid] || 0) + (@num_of_selled_books[cid] || 0)
        %td= @num_of_activities[cid]
