- content_for :title do
  - @title = "#{@company.name(@is_ja)} (#{t ".title"})"

.navigation
  - @devices.each do |(division, array)|
    - if array.count > 0
      = button_link object: @company, division: division, title: t_ar(Company, division), flag: @division == division
- @devices.each do |(division, array)|
  - if array.count > 0
    - if @division == division
      - case division
      - when 'album', 'single', 'video'
        = render partial: 'device', locals: {array: array}
      - when 'book'
        = render partial: 'book', locals: {array: array}
      - when 'activity'
        = render partial: 'activity', locals: {array: array}

- content_for :navi do
  = normal_link_by_title object: Company
  - @companies.each do |company|
    = button_link object: company, division: @division, flag: company == @company

