%table
  %tr
    - t_ars(Band, %w[member instrumental]).each do |k|
      %th= k
  - @people.each do |p|
    %tr
      %td= normal_link object: p
      - bms = @band_members_hash[p.id]
      %td= normal_link_objects bms.map(&:instrumental)
