- content_for :title do
  - @title = t ".title"

%table
  %thead
    %tr
      - t_ars(Band, %w[number name remarks]).each do |k|
        %th= k
  %tbody
    - @bands.each_with_index do |band, i|
      %tr
        %td= i+1
        %td= normal_link object: band
        %td= @is_ja ? band.j_comment : band.e_comment

