- content_for :title do
  - @title = "#{ @band.name(@is_ja) } (#{t ".title" })"

.navigation
  - %w[base_information member].each do |division|
    = button_link title: t_ar(Band, division), object: @band, division: division, flag: @division == division

- if @division == 'base_information'
  = render partial: 'base_information'
- if @division == 'member'
  = render partial: 'member'

- content_for :navi do
  = normal_link_by_title object: Band
  - @bands.each do |band|
    = button_link object: band, division: @division, flag: band == @band

