- content_for :title do
  - @title = t ".title"

%table
  %thead
    %tr
      - %w[.links .link_titles].each do |k|
        %th= t k
  %tbody
    - @titles.each do |title|
      - tid = title.id
      - name = title.name(@is_ja)
      %tr{id: name}
        %td= normal_link_by_title_objects @links.map { |hash| hash[tid] }.compact
        %td= name

- content_for :navi do
  - sarray = nil
  - @heads.each_with_index do |array, i|
    - array.each do |fl|
      - division = @lhead_hash[fl]
      - add_title = Title.head_value_is(division).count
      = button_link title: fl, object: Title, division: division, add_title: add_title, flag: division == @head
