- content_for :title do
  - @title = "#{t ".title"} (#{t_ar(Prefecture, @region)})"

%table
  %thead
    %tr
      - t_ars(Prefecture, %w[number name capital num_of_halls num_of_concerts]).each do |k|
        %th= k
  %tbody
    - @prefectures.each_with_index do |prefecture, i|
      - pid = prefecture.id
      %tr
        %td= i+1
        %td= normal_link object: prefecture
        %td= prefecture.capital(@is_ja)
        %td= @num_of_halls[pid]
        %td= @num_of_concerts[pid]

- content_for :navi do
  = render partial: 'prefecture_links'
