- content_for :title do
  - @title = "#{@prefecture.name(@is_ja)} (#{t ".title"})"

%table
  %tr
    - t_ars(Prefecture, %w[number hall num_of_concerts]).each do |k|
      %th= k
  - @halls.each_with_index do |hall, i|
    %tr
      %td= i+1
      %td= normal_link object: hall
      %td= @num_of_concerts[hall.id]

- content_for :navi do
  .navigation
    = normal_link object: Prefecture, division: @prefecture.region, title: t_ar(Prefecture, @prefecture.region)
    - @prefectures.each do |prefecture|
      = button_link object: prefecture, flag: prefecture == @prefecture
  = render partial: 'prefecture_links'
