- content_for :title do
  - @title = t ".title"

%table
  %thead
    %tr
      - t_ars(Instrumental, %w[instrumental num_of_performances]).each do |k|
        %th= t k
  %tbody
    - @instrumentals.each do |instrumental|
      %tr
        %td= normal_link object: instrumental
        %td= @num_of_performances[instrumental.id]
