- content_for :title do
  - @title = "#{@instrumental.name(@is_ja)} (#{t ".title"})"

%table
  %thead
    %tr
      - t_ars(Instrumental, %w[person album single band]).each do |k|
        %th= k
  %tbody
    - @song_people_hash.each do |p, array|
      %tr
        %td= normal_link object: p
        - albums = []
        - singles = []
        - pre_device = nil
        - array.each do |sp|
          - device = sp.list_content.list.device
          - unless device == pre_device
            - if device.class == Album
              - albums << device
            - elsif device.class == Single
              - singles << device
            - pre_device = device
        - [ albums, singles ]. each do |array|
          %td= normal_link_objects array
        - bm_array = @band_members_hash[p]
        %td
          - if bm_array
            = normal_link_objects bm_array.map(&:band)

- content_for :navi do
  = normal_link_by_title object: Instrumental

