- content_for :title do
  - @title = t '.title'

- @references_hash.each do |division, refs|
  %h2= t_ar Reference, division
  %table
    %thead
      %tr
        - t_ars(Reference, %w[number title link]).each do |k|
          %th= k
    %tbody
      - refs.each do |r|
        %tr
          %td= r.sort_order
          %td= r.name(@is_ja)
          %td= external_or_str r.link

