.navigation
  - Activity.activity_types.keys.each do |division|
    - num = Activity.activity_type_str_is(division).count
    = button_link object: Activity, division: division, title: t_ar(Activity, division), add_title: num, flag: division == @activity_type

