%tr
  %th= t_ar Activity, :name
  %td= @activity.name(@is_ja)
- if company = @activity.company
  %tr
    %th= t_ar Activity, :tv_station
    %td= normal_link object: company
%tr
  %th= t_ar Activity, :term
  %td
    = year_link @activity.from_or_children_from
    - if to = @activity.to_or_children_to
      = " - "
      = year_link to
- if song = @activity.song
  %tr
    %th= t_ar Activity, :tieup_song
    %td= normal_link object: song
- if comment = @activity.comment(@is_ja)
  %tr
    %th= t_ar Activity, :comment
    %td
      - comment.split('|').each do |line|
        = line
        %br
