%tr
  %td= activity_sub.name(@is_ja)
  %td
    = year_link activity_sub.from
    - if to = activity_sub.to
      = " - "
      = year_link to
  %td
    - if song = activity_sub.song
      = normal_link object: song
  %td
    - if comment = activity_sub.comment(@is_ja)
      - comment.split('|').each do |line|
        = line
        %br
