%tr
  %td= activity_sub.name(@is_ja)
  %td
    = year_link activity_sub.from
  %td
    - if list = activity_sub.list
      - list.list_contents.order_sort_order.each do |lc|
        = normal_link object: lc.song
        %br
  %td
    - if comment = activity_sub.comment(@is_ja)
      - comment.split('|').each do |l|
        = l
        %br
