- content_for :title do
  - @title = "#{t '.title'} (#{t_ar(Activity, @activity_type)})"

%table
  %thead
    %tr
      - t_ars(Activity, %w[number name type term]).each do |k|
        %th= k
  %tbody
    - @activities.include_from.include_to.each_with_index do |activity, i|
      %tr
        %td= i+1
        %td= normal_link object: activity
        %td= t_ar Activity, activity.activity_type
        %td
          = year_link(activity.from_or_children_from)
          - if to = activity.to_or_children_to
            = " - "
            = year_link(to)

- content_for :navi do
  = render partial: 'activity_type_links'
