- content_for :title do
  - @title = "#{@activity.name(@is_ja)} (#{t_ar(Activity, @activity_type)})"

%table
  %thead
    %tr
      - t_ars(Activity, %i[items contents]).each do |k|
        %th= k
  %tbody
    - Activity.activity_types.keys.each do |at|
      - if @activity.activity_type == at.to_s
        = render partial: at

- if @activity.activity_subs.count > 0
  %h2= t 'common.detail'
  %table
    %thead
      %tr
        - t_ars(Activity, @activity.table_header).each do |k|
          %th= k
    %tbody
      - @activity.activity_subs.order_sort_order_desc.each do |as|
        - Activity.activity_types.keys.each do |at|
          - if @activity.activity_type == at.to_s
            = render partial: "#{at}_sub", locals: {activity_sub: as}

- content_for :navi do
  .navigation
    = normal_link_by_title object: Activity, division: @activity.activity_type, add_title: t_ar(Activity, @activity.activity_type)
    - @activities.each do |activity|
      = button_link object: activity, flag: activity == @activity
  = render partial: 'activity_type_links'

