- content_for :title do
  - @title = t ".title"

%table
  %thead
    %tr
      %th= t 'common.link'
  %tbody
    - [ songs_in_concerts_stats_path, prefectures_concerts_performed_stats_path, lyrics_stats_path, musics_stats_path].each do |path|
      %tr
        %td= normal_link(controller_path: path)
