- content_for :title do
  - @title = t '.title'

%h2= t 'common.top30'
%canvas#graph

%h2= t 'common.all'
%table
  %thead
    %tr
      %th= t 'common.order'
      %th= t_ar Person
      %th= t_ar Person, :num_of_musics
  %tbody
    - @music_count.each_with_index do |(pid, num), i|
      - person = @people[pid]
      %tr
        %td= i+1
        %td= normal_link controller_path: person_path(person), title: @labels[i]
        %td= num

:javascript
  window.drawGraph(#{raw @labels[0...30].to_json}, #{@music_count.values[0...30]}, '#{t '.title'}');

