- content_for :title do
  - @title = t '.title'

%h2= t 'common.top30'
%canvas#graph

%h2= t 'common.all'
%table
  %thead
    %tr
      %th= t 'common.order'
      %th= t_ar Prefecture
      %th= t_ar Person, :num_of_performances
  %tbody
    - @prefecture_count.each_with_index do |(pid, num), i|
      - prefecture = @prefectures[pid]
      %tr
        %td= i+1
        %td= normal_link controller_path: prefecture_path(prefecture), title: @labels[i]
        %td= num

:javascript
  window.drawGraph(#{raw @labels[0...30].to_json}, #{@prefecture_count.values[0...30]}, '#{t '.title'}');
