- content_for :title do
  - @title = t '.title'

%h2= t 'common.top30'
%canvas#graph

%h2= t 'common.all'
%table
  %thead
    %tr
      %th= t 'common.order'
      %th= t_ar Song
      %th= t_ar Person, :num_of_performances
  %tbody
    - @song_nums.each_with_index do |hash, i|
      - sid, num = hash.values_at('song_id', 'sum').map(&:to_i)
      - song = @songs[sid]
      %tr
        %td= i+1
        %td= normal_link controller_path: song_path(song), title: @labels[i]
        %td= num

:javascript
  window.drawGraph(#{raw @labels[0...30].to_json}, #{@song_nums[0...30].map { |v| v['sum'].to_i }}, '#{t '.title'}');


