%h2= Year.month_str(@division, @is_ja)
%table
  %thead
    %tr
      - t_ars(Year, %w[date events]).each do |k|
        %th= k
  %tbody
    - @hash.keys.sort.each do |date|
      - objs = @hash[date]
      %tr
        %td= date.name
        %td
          - objs.each do |obj|
            - if obj.class == ConcertHall
              = obj.event_title
              - concert = obj.concert
              - hall = obj.hall
              = normal_link object: concert
              (
              = normal_link object: hall
              )
            - elsif obj.class == Activity
              - if obj.from == date
                = obj.from_event_title
              - else
                = obj.to_event_title
              = normal_link object: obj
            - elsif obj.class == ActivitySub
              - if obj.from == date
                = obj.from_event_title
              - else
                = obj.to_event_title
              = normal_link object: obj.activity
            - else
              = obj.event_title
              = normal_link object: obj
            %br

%h2= t 'years.show.term'
%table
  %thead
    %tr
      - t_ars(Year, %w[date events]).each do |k|
        %th= k
  %tbody
    - @concert_within.each do |c|
      %tr
        %td
          = year_link(c.from)
          = '-'
          = year_link(c.to)
        %td
          = link_to c.name(@is_ja), c
    - @activity_sub_within.each do |as|
      %tr
        %td
          = year_link(as.from)
          = '-'
          = year_link(as.to)
        %td
          = link_to as.name(@is_ja), as.activity


