- content_for :title do
  - @title = t ".title"

%table
  %thead
    %tr
      - t_ars(Year, %w[year num_of_albums num_of_singles num_of_videos num_of_concerts num_of_books num_of_activities]).each do |k|
        %th= k
  %tbody
    - @years.each do |year|
      - yid = year.id
      - name = year.name(@is_ja)
      %tr{id: name}
        %td= normal_link object: year
        %td= zero_null @num_of_albums[yid]
        %td= zero_null @num_of_singles[yid]
        %td= zero_null @num_of_videos[yid]
        %td= zero_null @num_of_concert_halls[yid]
        %td= zero_null @num_of_books[yid]
        %td= zero_null ((@num_of_from_activities[yid] || 0) + (@num_of_to_activities[yid] || 0)) + ((@num_of_from_activity_subs[yid] || 0) + (@num_of_to_activity_subs[yid] || 0))
