- content_for :title do
  - @title = "#{@year.name(@is_ja)} (#{t ".title"})"

.navigation
  - @month_hash.keys.sort.each do |month|
    = button_link object: @year, division: month, title: "#{Year.month_str(month, @is_ja)}(#{@month_hash[month]})", flag: @division == month
= render partial: 'month'

- content_for :navi do
  = normal_link_by_title object: Year
  - @years.each do |year|
    = button_link object: year, flag: year == @year

