!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:title) ? yield(:title) : :MoritakaMl
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = analytics_init if Rails.env.production?
  %body
    = render partial: '/shared/top_link_bar.html'
    - if @title
      %h1= @title
    = yield
    - if content_for(:navi)
      %hr
      %h4= t 'common.other_data'
      = yield :navi
    = render partial: '/shared/bottom_link_bar.html'


